#confidentiality
{
    background: rgb(50, 50, 50);
}

#confidentiality .buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#confidentiality .decline
{
    width: 33%;
    background: red;
    color: white;
}

#confidentiality .accept
{
    width: 33%;
    background: green;
    color: white;
}