#gameBox
{
    background-image: url("../images/game.jpg");
}

.lifes
{
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.life
{
    color: #e10b0b;
    font-size: 40px;
    letter-spacing: 10px;
    text-shadow: black 2px 0, black -2px 0, black 0 2px, black 0 -2px;
}

.lost
{
    color: white;
}

.game
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    margin: 0;
}

#move
{

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

#move td
{
    height: 10vh;
    width: 10vh;
    font-size: 5vh;
    cursor: pointer;
}

#game
{
    border: 2px solid black;
    border-collapse: collapse;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(120, 120, 120, 0.6);
    transition: -webkit-filter 0s;
    overflow: hidden;
}

#game td
{
    border: 1px solid #a8a8a8;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0),
    inset 0 0 2px #fff,
    inset 0 0 3px rgb(187, 215, 255),
    inset 0 0 4px #95d8ff,
    inset 0 0 6px rgb(85, 215, 255),
    inset 0 0 8px rgb(57, 209, 255),
    inset 0 0 9px rgb(37, 204, 255),
    inset 0 0 10px rgb(0, 195, 255);
    height: 9vh;
    width: 9vh;
    text-align: center;
}

#gameBox #counter
{
    color: white;
    font-size: 3vh;
    font-family: "Comfortaa Bold", serif;
    position: absolute;
    top: 3vh;
    left: 3vh;
    display: inline-block;
}

#gameBox #backToLevels
{
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    color: white;
    font-size: 3vh;
    height: 6vh;
    aspect-ratio: 1;
    position: absolute;
    bottom: 3vh;
    left: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameBox #confirmBackToLevels
{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: -100vw;
    /*opacity: 0;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameBox #confirmBackToLevelsBox
{
    background: #0C2D50;
    font-size: 3vh;
    font-family: "Comfortaa Bold", serif;
    text-align: center;
    color: white;
}

#gameBox #confirmBackToLevelsBox button
{
    background: rgba(255, 255, 255, 0.8);
    font-size: 3vh;
    font-family: "Comfortaa Bold", serif;
    text-align: center;
    color: black;
    border: none;
    padding: 3%;
}

.wall
{
    background: #1c1c1c;
    border: 1px solid #1c1c1c !important;
}

.way
{
    background: #ffba4a;
    border: 1px solid #ffba4a !important;
}

.doubleWay
{
    background: #4a84ff !important;
    border: 1px solid #4a84ff !important;
}

.tripleWay
{
    background: #0537a1 !important;
    border: 1px solid #0537a1 !important;
}

.teleporter
{
    background: rgba(255, 74, 112, 1) !important;
    border: 2px dashed rgba(255, 255, 255, 0.5) !important;
    box-shadow: inset 0 0 2px white, inset 0 0 4px white, inset 0 0 8px white, inset 0 0 16px white;
}

.lock
{
    color: gray;
}

.expand
{
    transform: scale(1.2);
}

.hideGame
{
    filter: blur(5vh) grayscale(1);
    transition: -webkit-filter 0.5s !important;
}

#gameResult
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100vw;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    display: flex;
}

#gameResult #gameResultBox
{
    background: #0C2D50;
    font-size: 3vh;
    font-family: "Comfortaa Bold", serif;
    text-align: center;
    color: white;
    width: 70vh;
}

#gameResult #gameResultBox h1
{
    display: none;
    font-family: "Comfortaa Bold", serif;
    font-size: 6vh;
}

#gameResult #gameResultBox .resultPointsBox
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameResult #gameResultBox img
{
    height: 6vh;
    margin-left: 1vh;
    margin-bottom: 1vh;
}

#gameResult #gameResultBox #resultPoints
{
    font-size: 4vh;
}

#gameResult .gameWin #winTitle
{
    color: green;
    display: block;
}

#gameResult .gameWin #resultPoints
{
    color: green;
}

#gameResult .gameLose #loseTitle
{
    color: red;
    display: block;
}

#gameResult .gameLose #resultPoints
{
    color: red;
}

#gameResult #gameResultBox button
{
    background: rgba(255, 255, 255, 0.8);
    font-size: 3vh;
    font-family: "Comfortaa Bold", serif;
    text-align: center;
    color: black;
    border: none;
    padding: 3%;
}

#game .moveTopToBottom
{
    animation-name: moveTopToBottom;
    animation-duration: 0.1s;
    animation-direction: normal;
    animation-timing-function: linear;
}

#game .moveBottomToTop
{
    animation-name: moveBottomToTop;
    animation-duration: 0.1s;
    animation-direction: normal;
    animation-timing-function: linear;
}

#game .moveLeftToRight
{
    animation-name: moveLeftToRight;
    animation-duration: 0.1s;
    animation-direction: normal;
    animation-timing-function: linear;
}

#game .moveRightToLeft
{
    animation-name: moveRightToLeft;
    animation-duration: 0.1s;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes moveBottomToTop {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveTopToBottom {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}