#home
{
    background-image: url("../images/fond.jpg") ;
    overflow: hidden;
    background-size: 100% !important;
    background-position: center;
}

#home *
{
    /*opacity: 0.5;*/
    /*filter: brightness(150%);*/
}