#levels #mod_name
{
    color: white;
    font-family: "Comfortaa Bold", serif;
    font-size: 3.6vh;
    background: #0C2D50;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25%;
    width: 16%;
    height: 10%;
    left: 10%;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
}

#levels #sliding_steps
{
    position: relative;
    overflow-x: scroll;
}

#levels #sliding_steps #sliding_steps_bg
{
    display: flex;
}
#levels #sliding_steps .sliding_steps_bg
{
    height: 100vh;
}

.level-box
{
    position: absolute;
    height: 10.8vh;
    aspect-ratio: 1.50;
    background: rgba(255,255,255,1);
    box-sizing: border-box;
    top:0;
    left:0;
    box-shadow: 0 0 2px white, 0 0 4px white, 0 0 8px white, 0 0 16px white, 0 0 32px white, 0 0 64px white;
    font-size: 3vh;
    font-family: "Comfortaa Bold", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enable
{
    color: blue;
}

.next
{
    color: red;
}

:root {
    --level-x: 16.19vh;
    --level-y: 10.8vh;
}

#levelList
{
    background: url("../images/level2.jpg") repeat-x;
    background-size: cover;
    height: 100vh;
    min-width: 100vw;
}

#levelList .level-box:nth-child(1)
{
    left: calc(16vh + (var(--level-x) * 0));
    top: calc(10.6vh + (var(--level-y) * 0));
}

#levelList .level-box:nth-child(2)
{
    left: calc(16vh + (var(--level-x) * 1));
    top: calc(10.6vh + (var(--level-y) * 1));
}

#levelList .level-box:nth-child(3)
{
    left: calc(16vh + (var(--level-x) * 0));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(4)
{
    left: calc(16vh + (var(--level-x) * 1));
    top: calc(10.6vh + (var(--level-y) * 3));
}

#levelList .level-box:nth-child(5)
{
    left: calc(16vh + (var(--level-x) * 2));
    top: calc(10.6vh + (var(--level-y) * 4));
}

#levelList .level-box:nth-child(6)
{
    left: calc(16vh + (var(--level-x) * 3));
    top: calc(10.6vh + (var(--level-y) * 5));
}

#levelList .level-box:nth-child(7)
{
    left: calc(16vh + (var(--level-x) * 4));
    top: calc(10.6vh + (var(--level-y) * 4));
}

#levelList .level-box:nth-child(8)
{
    left: calc(16vh + (var(--level-x) * 5));
    top: calc(10.6vh + (var(--level-y) * 3));
}

#levelList .level-box:nth-child(9)
{
    left: calc(16vh + (var(--level-x) * 6));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(10)
{
    left: calc(16vh + (var(--level-x) * 7));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(11)
{
    left: calc(16vh + (var(--level-x) * 8));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(12)
{
    left: calc(16vh + (var(--level-x) * 9));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(13)
{
    left: calc(16vh + (var(--level-x) * 10));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(14)
{
    left: calc(16vh + (var(--level-x) * 11));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(15)
{
    left: calc(16vh + (var(--level-x) * 12));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(16)
{
    left: calc(16vh + (var(--level-x) * 13));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(17)
{
    left: calc(16vh + (var(--level-x) * 14));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(18)
{
    left: calc(16vh + (var(--level-x) * 15));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(19)
{
    left: calc(16vh + (var(--level-x) * 16));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(20)
{
    left: calc(16vh + (var(--level-x) * 17));
    top: calc(10.6vh + (var(--level-y) * 2));
}

#levelList .level-box:nth-child(21)
{
    left: calc(16vh + (var(--level-x) * 18));
    top: calc(10.6vh + (var(--level-y) * 2));
}