#mods
{
    overflow: hidden;
    background-size: 100% !important;
    background-position: center;
}
#mods #modsBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30vw;
    height: 50vh;
    font-size: 0;
}

#mods #modsBox .modChange
{
    background: rgba(0,0,0,0);
    color: white;
    height: 5vw;
    border: none;
    width: 5vw;
    font-size: 5vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#mods #modsBox #modLeft
{
    left: 0;
}

#mods #modsBox #modRight
{
    right: 0;
}

#mods #modsBox .hidder
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: 100%;
    overflow: hidden;
}

#mods #modsBox #modsList
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-shrink: 0;
    overflow: hidden;
    transition: left 0.5s;
}

#mods #modsBox #modsList .mod-item
{
    font-family: "Comfortaa Bold", serif;
    aspect-ratio: 1;
    min-width: 15vw;
    color: white;
    font-size: 3.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2.5vw;

}

#mods #modsBox #modsList .mod-item span
{
    position: absolute;
    top: 50%;
    transform: translateY(-10vw);
}

#mods #modsBox #modsList .mod-item img
{
    width: 100%;
    animation: floatingMod 3s normal linear infinite;
}

@keyframes floatingMod {
    0% {
        transform: translateY(3%);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3%);
    }
    75% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(3%);
    }
}